# Default owners for all files in this repository.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @namvt00441 @tiripsstudio @d3k2studio
